<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>聊天囉</title>
</head>
<body>
    <%= title %>
    <script>
        const socket = io('ws:localhost:81');

        socket.on('connect', () => {
            console.log('Connected');
            socket.emit('wannaChat', { data: 'I`m from browser.' });
        });

        socket.on('wannaChat', (response) => {
            console.log('wannaChat', response);
        });

        socket.on('exception', (error) => {
            console.log('exception', error);
        });

        socket.on('disconnect', () => {
            console.log('Disconnected');
        });
    </script>
</body>
</html>